
figcaption,p,a,li,form{
    font-family:"helvetica";
    font-size: 16.5px;
    opacity: 0.6;
}
h1,h3{
    margin-left: 50px;
    opacity: 0.8;
    font-family:"helvetica"; 
}
figcaption,a,h3,img,a,p,form{
    margin-top: 50px;
    margin-bottom:10px;
    margin-right: 580px;
    margin-left: 50px;
}
ol,nav{
    margin-left:30px ;
}
iframe{
   position: relative;
   right: 400px;
   top: 10px;
}
hr{
    margin-left:50px;
    margin-right:580px;
    color: black;
}
p,figcaption{
    line-height: 1.5;
    display: block;
}
html{
    overflow: scroll;
}

  